html, body {
  scroll-behavior: smooth;
  overflow-x: hidden;
  /* Ensures only ONE vertical scrollbar on the window */
  overflow-y: auto;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light;
  color: #1f2937;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Custom Animation Classes */
.animate-fade-out {
  opacity: 0;
  transform: scale(0.9);
  pointer-events: none;
  transition: all 0.4s ease-out;
}

button, a, .cursor-pointer {
  cursor: pointer !important;
}
